@charset "UTF-8";

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

$font-main: "-apple-system", "Helvetica Neue", Hiragino Sans, "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;

.u-font-s {
  font-family: 'Rajdhani', sans-serif;
	text-transform: uppercase;
}
@mixin m-font-s {
  font-family: 'Rajdhani', sans-serif;
	text-transform: uppercase;
}

.header-content {
  border: 10px solid $color-text;
  padding: 1.5rem 3rem;
  text-align: center;
}
  .header-content-ttl {
    font-size: 4.2rem
  }
