@charset "UTF-8";

$color-bg: #e5e5e5;
$color-text: #0e1e44;
$color-main: #192235;
$color-sub: #4f5977;
$color-light: #ddd;

$color-podcast:  #ae4cdf;
$color-spotify:  #1DB954;
$color-rss:  #ff6600;
$color-twitter:  #00aced;



.u-cf::after {
	content: "";
	display: table;
	clear: both;
}

@mixin m-cf {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin m-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin m-link {
	transition: opacity .2s ease;
	&:hover {
		opacity: .6;
	}
}

@mixin m-link-text {
	color: $color-sub;
  &:hover {
    text-decoration: underline;;
  }
}

@mixin m-btn-podcast {
	&:before {
		content: "\f179";
		font-family: FontAwesome;
		margin-right: 0.5rem;
	}
}

@mixin m-btn-spotify {
  &:before {
    content: "\f1bc";
    font-family: FontAwesome;
    margin-right: 0.5rem;
  }
}

@mixin m-btn-rss {
	&:before {
		content: "\f09e";
		font-family: FontAwesome;
		margin-right: 0.5rem;
	}
}