@charset "UTF-8";

$color-bg:   #000;
$color-text: #fff;
$color-main: #B0DA39;
$color-sub:  #797772;
$color-twitter:  #00aced;
$color-podcast:  #ae4cdf;
$color-rss:  #ff6600;


.u-cf::after {
	content: "";
	display: table;
	clear: both;
}

@mixin m-cf {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin m-link {
	transition: opacity 0.6s;
	&:hover {
		opacity: .5;
	}
}

@mixin m-border {
	position: relative;
	&:before {
		background-color: currentColor;
		content: '';
		display: inline-block;
		position: absolute;
		bottom: 0;
		height: 1px;
		width: 100%;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform .6s cubic-bezier(.55, 0, .1, 1);
	}
	&:hover:before {
		transform: scaleX(1);
		transform-origin: left;
		transition: transform .6s cubic-bezier(.55, 0, .1, 1);
	}
}

@mixin m-btn-twitter {
	&:before {
		content: "\f099";
		font-family: FontAwesome;
		margin-right: 0.5rem;
	}
}

@mixin m-btn-podcast {
	&:before {
		content: "\f2ce";
		font-family: FontAwesome;
		margin-right: 0.5rem;
	}
}

@mixin m-btn-rss {
	&:before {
		content: "\f09e";
		font-family: FontAwesome;
		margin-right: 0.5rem;
	}
}
