---
---

@charset "UTF-8";

@import "reset";
@import "variables";
@import "media-queries";
@import "fonts";

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	background: $color-bg;
	color:      $color-text;
	font-size: 14px;
	font-size: 1.4rem;
	font-family: $font-main;
	font-weight: 300;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	word-break: break-all;
	word-wrap: break-word;
}

.container-fluid {
	width: 960px;
	margin: auto;
	@include m-cf;
}
.column {
	float: left;
}

@media #{$small} {
	.column {
		float: none;
	}
}

// ------------------------------------------------
// header
// ------------------------------------------------
.header {
	padding-top: 60px;
	margin-bottom: 20px;
}

	.header-logo {
		width: 50%;
	}
	.header-logo .header-logo-vt {
		display: inline-block;
		font-size: 4.0rem;
		font-weight: 700;
		letter-spacing: .05rem;
		line-height: 1;
		@include m-border;
	}

	.header-nav {
		padding-top: 16px;
		width: 50%;
	}
	.header-nav-content {
		text-align: right;
	}
	.header-nav-content-item {
		display: inline-block;
		font-size: 2.2rem;
		font-weight: 700;
		letter-spacing: 0.05rem;
		line-height:    2.2rem;
		margin-left:    2.0rem;
		@include m-border;
	}



// ------------------------------------------------
// mv
// ------------------------------------------------
#mv {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	min-width: 100%;
	height: 60vw;
}

.mv-mask {
	background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 1) 100%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 60vw;
}

// ------------------------------------------------
// top
// ------------------------------------------------
.top {
	margin-top: 10vw;
	margin-bottom: 15vh;
}
.main {
	margin-top: 10vw;
}
.main-container {
	width: 100%;
}


// ------------------------------------------------
// post-archive
// ------------------------------------------------
.post .post-content {
	&:not(:last-child){
		margin-bottom: 4rem;
	}
}

	.post-content a {
		border-radius: 5px;
		display: block;
		padding: 2rem;
		transition: background 0.6s;
		&:hover {
			background: rgba(255, 255, 255, .1);
		}
	}

	.post-content .post-content-header {
			font-size: 2.8rem;
			font-weight: 500;
			line-height: 3.2rem;
			vertical-align: middle;
			margin-bottom: 5px;
		}
	.post-content .post-content-date {
		@include m-font-s;
		color: $color-sub;
		margin-bottom: 1rem;
	}
	.post-content .post-content-description {
		font-size: 1.4rem;
		line-height: 1.8rem;
	}


// ------------------------------------------------
// post-article
// ------------------------------------------------
.article-content {
	padding: 2rem;
}

	.article-content .article-content-ttl {
		font-size: 2.8rem;
		font-weight: 500;
		line-height: 3.2rem;
		margin-bottom: 5px;
	}

	.article-content .article-content-date {
		@include m-font-s;
		color: $color-sub;
		margin: 0 0 60px;
	}

	.article-content .article-content-rec {

		.mejs-player {
			margin-bottom: 10px;

			.mejs-controls .mejs-time-rail .mejs-time-loaded {
				background: #b76e2d;
				background: rgba(183, 110, 45, .8);
				background: -webkit-gradient(linear,0 0,0 100%,from(rgba(105, 60, 24, 0.8)),to(rgba(183, 110, 45, .8)));
				background: -webkit-linear-gradient(top,rgba(105, 60, 24, .8),rgba(183, 110, 45, .8));
				background: -moz-linear-gradient(top,rgba(105, 60, 24,.8),rgba(183, 110, 45,.8));
				background: -o-linear-gradient(top,rgba(105, 60, 24,.8),rgba(183, 110, 45,.8));
				background: -ms-linear-gradient(top,rgba(105, 60, 24,.8),rgba(183, 110, 45,.8));
				background: linear-gradient(rgba(105, 60, 24, 0.8),rgba(183, 110, 45, .8));
			}
		}
		.rec-file {
			display: inline-block;
			float: right;
			@include m-link;
			@include m-font-s;
		}
		.rec-file:before {
			content: "\f019";
			font-family: FontAwesome;
			padding-right: 5px;
		}
		@include m-cf;
	}

	.article-content-voices .voices-list {
		list-style: none;
		padding-left: 0.5rem;

		.voices-list-item {
			margin-bottom: 2rem;
		}

		.voices-item-name {
			font-size: 1.6rem;

			&:before {
				content: "\f007";
				font-family: FontAwesome;
			}
		}
		.voices-item-url {
			@include m-link;
			&:before {
				content: "\f0da";
				font-family: FontAwesome;
			}
		}
	}

	.article-content-md {
		line-height: 3.2rem;
		margin-bottom: 6rem;

		a {
			@include m-link;
			text-decoration: underline;
		}
		ul, ol {
			padding-left: 2rem;
		}
		& > ul, & > ol {
			margin-bottom: 40px;
		}
		h2 {
			font-weight: 600;
			font-size: 2.4rem;
			margin-bottom: 5px;
		}
	}

	.article-content-share {
		text-align: center;
		margin-bottom: 6rem;
		font-weight: 300;
		font-size: 1.2rem;
	}
	.article-content-share a {
		@include m-btn-twitter;
		border: 1px solid rgba(255, 255, 255, .5);
		border-radius: 5px;
		display: inline-block;
		padding: 1rem 2rem;
		transition: background 0.6s, border-color 0.6s;
		&:hover {
			border-color: darken( $color-twitter, 15% );
			background: $color-twitter;
		}
	}

	.article-content-back {
		text-align: center;
		margin-bottom: 4rem;
	}
		.article-content-back a {
			@include m-font-s;
			background: rgba(255, 255, 255, .5);
			color: #000;
			display: inline-block;
			font-weight: 500;
			padding: 2px 10px;
			transition: background 0.6s;
			&:hover {
				background: rgba(255, 255, 255, 1);
			}
		}
		.article-content-back a:before {
			content: "\f101";
			font-family: FontAwesome;
		}

	.article-content-header {
		font-weight: 600;
		font-size: 2.4rem;
		margin-bottom: 1rem;
	}
	.content-item {
		margin-bottom: 56px;
	}


// ------------------------------------------------
// info page
// ------------------------------------------------
.info-content {

	p {
		margin-bottom: 1rem;
	}

	a {
		@include m-link;
		text-decoration: underline;
	}
}


// ------------------------------------------------
// footer
// ------------------------------------------------
.footer {
	border-top: 1px solid $color-text;
	padding-top: 20px;
}

	.footer-feed {
		margin: 0 0 42px;
		text-align: center;
	}
		.footer-feed .feed-list {
			list-style: none;
		}
		.feed-list .feed-list-item {
			display: inline-block;
			margin: 10px;
		}
			.feed-list-item	a {
				border-radius: 3px;
				display: inline-block;
				padding: 3px 7px;
				font-weight: 300;
				font-size: 1.2rem;
				transition: background 0.6s, color 0.6s;
				width: 100px;
			}
			.feed-list-item	.btn-twitter {
				@include m-btn-twitter;
				border: 1px solid $color-twitter;
				color: $color-twitter;
				&:hover {
					background: $color-twitter;
					color: #fff;
				}
			}
			.feed-list-item	.btn-podcast {
				@include m-btn-podcast;
				border: 1px solid $color-podcast;
				color: $color-podcast;
				&:hover {
					background: $color-podcast;
					color: #fff;
				}
			}
			.feed-list-item	.btn-rss {
				@include m-btn-rss;
				border: 1px solid $color-rss;
				color: $color-rss;
				&:hover {
					background: $color-rss;
					color: #fff;
				}
			}

	.footer-cp {
		@include m-font-s;
		text-align: center;
	}
	.footer-cp a {
		font-size: 2.0rem;
		font-weight: 700;
		letter-spacing: .05rem;
		padding: 0.5rem 1rem;
		display: inline-block;
		text-transform: uppercase;
		transition: opacity 0.6s;
		&:hover {
			opacity: .5;
		}
		&:before {
			content: "\f1f9";
			font-family: FontAwesome;
			font-size: 1.8rem;
			margin-right: 0.5rem;
		}
	}
