<footer class="footer container-fluid">

  <div class="footer-feed">
    <ul class="feed-list">
      <li class="feed-list-item">
        <a class="btn-twitter" href="https://twitter.com/search?q=%23{{ site.hashtag }}" target="_blank">#viewtorino</a>
      </li>
      <li class="feed-list-item">
        <a class="btn-podcast" href="{{ site.itunes_podcast_url }}" target="_blank">Podcast</a>
      </li>
      <li class="feed-list-item">
        <a class="btn-rss" href="{{ site.url }}/feed.xml" target="_blank">RSS</a>
      </li>
    </ul>
  </div>

  <div class="footer-cp">
    <a href="http://viewtorino.com" target="_blank">2016 viewtorino</a>
  </div>

</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90562231-1', 'auto');
  ga('send', 'pageview');

</script>
