<div class="section footer">
  <div class="container">

    <footer class="footer-block">

      <div class="footer-element footer-info">
        <h2 class="footer-header">このPodcastについて</h2>
        <p>
          VT-STUDIO は、VIEWTORINO や Kensei Ogata Band の活動に関する情報を中心に、<br class="none-sp">音楽・宅録・機材・ガジェットなどの話題を交えつつ配信しています。<br>
          感想などは<a href="https://twitter.com/intent/tweet?hashtags={{ site.hashtag }}&url={{ site.url }}{{ page.url }}" target="_blank">#{{ site.hashtag }}</a>までお願いいたします。
        </p>
      </div>

      <div class="footer-element footer-feed">
        <h2 class="footer-header">こちらから購読が可能です</h2>
        <ul class="feed-list">
          <li class="feed-list-item">
            <a class="btn-podcast" href="{{ site.itunes_podcast }}" target="_blank">iTunes・iPhone</a>
          </li>
          <li class="feed-list-item">
            <a class="btn-android" href="{{ site.android_podcast }}" target="_blank">Android</a>
          </li>
          <li class="feed-list-item">
            <a class="btn-rss" href="{{ site.url }}/feed.xml" target="_blank">RSS</a>
          </li>
        </ul>
      </div>

      <p class="footer-cp">
        <small><a href="http://viewtorino.com" target="_blank">2016 viewtorino</a></small>
      </p>

    </footer>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ site.url }}/js/common.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90562231-1', 'auto');
  ga('send', 'pageview');

</script>
