<header class="header container-fluid">
  <h1 class="header-logo column">
    <a class="header-logo-vt u-font-s" href="/" title="HOME">
      {{ site.title }}
    </a>
  </h1>
  <!-- <div class="header-description">
  {{ site.description }}
</div> -->
  <nav class="header-nav column">
    <ul class="header-nav-content u-font-s">
      <li class="header-nav-content-item"><a href="about">about</a></li>
      <li class="header-nav-content-item"><a href="contact">contact</a></li>
    </ul>
  </nav>
</header>
