.article-content {

	&-ttl {
		font-size: 2.0rem;
		font-weight: 700;
		text-align: center;
		&:after {
			display: block;
			content: '';
			width: 160px;
			height: 5px;
			margin: 1rem auto 0.5rem;
			background: $color-text;
		}
		@media #{$small} {
			font-size: 2.8rem;
			margin-bottom: 1rem;
		}
	}

	&-date {
		@include m-font-s;
		color: $color-sub;
		text-align: center;
	}

	&-description {
		@include m-font-min;
		border-left: 5px solid $color-light;
		padding: 1rem 0 1rem 2rem;
		font-size: 1.2rem;
		@media #{$small} {
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
	}

	&-rec {
		.rec-file {
			display: inline-block;
			margin-top: 8px;
			float: right;
			font-size: 1.4rem;
			@include m-link;
		}
		.rec-file:before {
			content: "\f019";
			font-family: FontAwesome;
			padding-right: 4px;
		}
		@include m-cf;
	}

	&-voices {

		.voices-list {
			@include m-flex;
			flex-flow: row wrap;
			list-style: none;

			&-item {
				display: inline;
				padding: .4rem;
				text-align: center;
				white-space: nowrap;
				vertical-align: baseline;
			}
			.item-url {
				display: inline-block;
				width: 100%;
				padding: 0.25rem 1rem;
				font-size: 1.2rem;
				text-align: center;
				transition: background 0.2s, color 0.2s;
				background: $color-light;
				border-radius: .25em;

				@media #{$small} {
					font-size: 1.4rem;

				}

				&:hover {
					background: $color-text;
					color: $color-bg;
				}
			}
		}
	}

}

.content-item {
	margin-bottom: 6rem;

	h2 {
		display: table;
		font-family: $font-sub;
		font-size: 2.4rem;
		font-weight: 800;
		margin: 4rem 0 2rem;
		text-align: center;
		white-space: nowrap;
		&:before, &:after {
			content: '';
			display: table-cell;
			width: 50%;
			background: -webkit-linear-gradient(transparent 50%, currentColor 50%, currentColor -webkit-calc(50% + 1px), transparent -webkit-calc(50% + 1px));
			background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, currentColor), color-stop(currentColor calc(50% + 1px)), to(transparent calc(50% + 1px)));
			background: linear-gradient(transparent 50%, currentColor 50%, currentColor calc(50% + 1px), transparent calc(50% + 1px));
			-webkit-background-clip: padding;
			background-clip: padding;
		}
		&:before {
			border-right: 1rem solid transparent;
		}
		&:after {
			border-left: 1rem solid transparent;
		}
	}
}
