html {
	height: 100%;
}

body {
	background: $color-bg;
	background: $color-text;
	height: 100%;
	margin: 0;
	padding: 0;
	word-break: normal;
}

.container {
	margin: 0 auto;
	padding: 20px;

  @media #{$small} { width: 750px; }
  @media #{$medium} {	width: 970px; }
  @media #{$large} { width: 1170px; }
}

main {
	padding: 10px;
	@media #{$small} {
		padding: 0;
	}

	.container {
		background: $color-bg;

		@media #{$small} { padding: 40px; }
		@media #{$medium} { padding: 80px; }
		@media #{$large} { padding: 120px; }
	}
}

.section {
  padding: 6rem 0;
	overflow: hidden;
  @media #{$small} {
    padding: 1rem 0;
  }
}

.post {
	@media #{$large} {
		margin: 0 0 2rem;
	}
	&-content:not(:last-child) {
		margin-bottom: 0;
	}
}

.post-content {
	a {
		display: block;
		padding: 2rem 0;
		margin: 0;
		transition: opacity .2s;
		&:hover {
			opacity: .6;
		}
	}

	.post-content-header {
		margin-bottom: 0;
		font-size: 1.6rem;
		font-weight: 700;
		letter-spacing: -0.05rem;
		// line-height: 2.2rem;
		vertical-align: middle;
		border-bottom: 1px solid;
		@media #{$small} {
			margin-bottom: 5px;
			font-size: 2.0rem;
			}
		@media #{$large} {
			font-size: 2.8rem;
			}
		}
	
	.post-content-date {
		color: $color-sub;
		@include m-font-s;
		margin: 0.5rem 0;
		font-size: 1.0rem;
		@media #{$small} {
			margin: 0.5rem 0 1.0rem;
			font-size: 1.2rem;
		}
	}
	.post-content-description {
		font-size: 1.2rem;
		@media #{$medium} { font-size: 1.4rem; }
		@media #{$large} { font-size: 1.6rem; }
	}
}


.page-back {
	text-align: center;
	a {
		@include m-font-s;
		color: #000;
		display: inline-block;
		border: 1px solid $color-text;
		font-weight: 500;
		padding: 2px 10px;
		transition: all .2s ease-in-out;
		@media #{$small} {
			font-size: 1.6rem;
		}
		&:hover {
			background: $color-text;
			color: $color-bg;
		}
	}
	a:before {
		content: "\f101";
		font-family: FontAwesome;
	}
}
