html {
	height: 100%;
}

body {
  background: url(../images/bg.jpg); 
	height: 100%;
	margin: 0;
	padding: 0;
	word-break: normal;
}

.container {
	margin: 0 auto;
	padding: 20px;

  @media #{$small} { width: 680px; }
  @media #{$medium} {	width: 970px; }
}

main {
	padding: 10px;
	@media #{$small} {
		padding: 0;
	}

	.container {
		background: $color-bg;

		@media #{$small} { padding: 3.2rem 4rem; }
		@media #{$medium} { padding: 6rem 8rem; }
		@media #{$large} { padding: 10rem 12rem; }
	}
}

.section {
  padding: 6rem 0;
	overflow: hidden;
  @media #{$small} {
    padding: 1rem 0;
  }
}

.post {
	&-content {
		a {
			display: block;
			margin-bottom: 2rem;
			transition: opacity .5s;
			@media #{$small} {
				margin-bottom: 4rem;
			}
		}
		&:last-child a {
			margin-bottom: 0;
		}

		.post-content-header {
			margin-bottom: 0;
			font-size: 1.6rem;
			font-weight: 700;
			letter-spacing: -0.05rem;
			// line-height: 2.2rem;
			vertical-align: middle;
			border-bottom: 1px solid;
			@media #{$small} {
				margin-bottom: 5px;
				font-size: 2.0rem;
				}
			@media #{$large} {
				font-size: 2.8rem;
				}
			}

		.post-content-date {
			color: $color-sub;
			@include m-font-s;
			margin: 0.5rem 0;
			font-size: 1.0rem;
			@media #{$small} {
				margin: 0.5rem 0 1.0rem;
				font-size: 1.2rem;
			}
		}
		.post-content-description {
			@include m-font-min;
			font-size: 1.2rem;
			@media #{$medium} { font-size: 1.4rem; }
			@media #{$large} { font-size: 1.6rem; }
		}
	}
	&:hover &-content a:not(:hover) {
		opacity: .4;
	}
	&-content:not(:last-child) {
		margin-bottom: 0;
	}
}



.page-back {
	text-align: center;
	a {
		@include m-font-s;
		color: #000;
		display: inline-block;
		border: 1px solid $color-text;
		font-weight: 500;
		padding: 2px 20px;
		border-radius: 20px;
		transition: all .2s ease-in-out;
		@media #{$small} {
			font-size: 1.6rem;
		}
		&:hover {
			background: $color-text;
			color: $color-bg;
		}
	}
	a:before {
		content: "\f101";
		font-family: FontAwesome;
	}
}
