footer {
	color: $color-bg;
	padding: 20px 0 0;
	@media #{$small} {
		padding: 2rem 0 0;
	}

  .container {
		@media #{$small} {
			@include m-flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
    @media #{$medium} {
			padding: 3rem 5rem 0;
    }
  }
	
	
  .footer-feed {
		@media #{$small} {width: 40%;	}
	}
	.footer-info {
		margin-bottom: 3rem;
		text-align: center;
		font-size: 1.2rem;
		
		@media #{$small} { width: 60%; }
		@media #{$large} { font-size: 1.4rem; }
		p { letter-spacing: -.05rem; }
		a {
			border-bottom: 1px dotted;
			text-decoration: none;
			transition: border-color .2s ease-in-out, color .2s ease-in-out;
			&:hover {
				border-color: transparent;
				color: $color-main;
			}
		}
	}

  .footer-header {
    margin-bottom: 2rem;
		text-align: center;
		font-size: 2.2rem;
		@media #{$small} {
			font-size: 1.8rem;
		}
		&:after {
			display: block;
			content: '';
			width: 80px;
			height: 5px;
			margin: 1rem auto 0.5rem;
			background: $color-bg;
		}
  }

		.footer-feed .feed-list {
			list-style: none;
		}
		.feed-list .feed-list-item {
      display: block;
			margin: 10px;
      text-align: center;
		}
			.feed-list-item	a {
				border-radius: 3px;
				display: inline-block;
				padding: 3px 7px;
				font-weight: 400;
				font-size: 1.2rem;
				transition: background 0.6s, color 0.6s;
				width: 50%;
			}
			.feed-list-item	.btn-podcast {
				@include m-btn-podcast;
				border: 1px solid $color-podcast;
				color: $color-podcast;
				&:hover {
					background: $color-podcast;
					color: #fff;
				}
			}
      .feed-list-item	.btn-android {
        @include m-btn-android;
        border: 1px solid $color-android;
        color: $color-android;
        &:hover {
          background: $color-android;
          color: #fff;
        }
      }
			.feed-list-item	.btn-rss {
				@include m-btn-rss;
				border: 1px solid $color-rss;
				color: $color-rss;
				&:hover {
					background: $color-rss;
					color: #fff;
				}
			}

	.footer-cp {
    display: block;
    width: 100%;
		margin: 2rem 0 0;
		text-align: center;
	}
	.footer-cp a {
		color: $color-sub;
		font-family: $font-sub;
		font-size: 1.2rem;
		font-weight: 700;
		letter-spacing: .05rem;
		padding: 0.5rem 1rem;
		display: inline-block;
		text-transform: uppercase;
		transition: all .2s;
		&:hover {
			color: $color-bg;
		}
		&:before {
			content: "\f1f9";
			font-family: FontAwesome;
			font-size: 1.2rem;
			margin-right: 0.5rem;
		}
	}

}
