.article-content-md {
  @include m-font-min;

  ul {
    padding-left: 1rem;
    list-style: disc;
  }
  li {
    padding-left: .5rem;
    line-height: 2.8;
  }
  a {
		text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
	}
}
