@charset "UTF-8";

$color-bg: #0f1626;
$color-text: #E3EAFD;
$color-main: #e1e2ff;
$color-sub: #7d8dbd;
$color-light: #1c2541;

$color-podcast:  #ae4cdf;
$color-android:  #8BC34A;
$color-rss:  #ff6600;
$color-twitter:  #00aced;
