@charset "UTF-8";

$color-bg: #fff;
$color-text: #0E151C;
$color-main: #31A34D;
$color-sub: #4f5977;
$color-light: #ddd;

$color-podcast:  #ae4cdf;
$color-android:  #8BC34A;
$color-rss:  #ff6600;
$color-twitter:  #00aced;
