@charset "UTF-8";

$color-bg: #e5e5e5;
$color-text: #0e1e44;
$color-main: #192235;
$color-sub: #4f5977;
$color-light: #ddd;

$color-podcast:  #ae4cdf;
$color-android:  #8BC34A;
$color-rss:  #ff6600;
$color-twitter:  #00aced;
