@charset "UTF-8";

$small:  "only screen and (max-width: 640px)";
$medium: "only screen and (min-width: 641px) and (max-width: 959px)";
$large:  "only screen and (min-width: 960px)";

.none-pc {
  @media #{$large} {
    display: none;
  }
}
.none-tab {
  @media #{$medium} {
    display: none;
  }
}
.none-sp {
  @media #{$small} {
    display: none;
  }
}
