@charset "UTF-8";

$small:  "only screen and (min-width: 768px)";
$medium: "only screen and (min-width: 992px)";
$large:  "only screen and (min-width: 1200px)";

.none-pc {
  @media #{$small} {
    display: none;
  }
}
.none-sp {
  display: none;
  @media #{$small} {
    display: inline
  }
}
