<!DOCTYPE html>
<html lang={{ site.language }}>
  {% include head.html %}
  <body>

    {% include header.html %}

    <div class="page-wrapper">

      <script type="text/javascript">
      if ( navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('iPad') > 0 || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
        document.write('');
      }else {
        document.write('<video id="mv" poster="/images/mv.png" autoplay="play" preload="auto" loop="loop"><source src="/images/mv.mp4" type="video/mp4"></video>');
        document.write('<div class="mv-mask"></div>');
      }
      </script>

      <main class="main container-fluid" role="main">

        <article class="article-content">

          <h1 class="article-content-ttl">
            {{ page.title }}
          </h1>

          <p class="article-content-date">
            {{ page.date | date: "%B %d, %Y" }}
          </p>

          <div class="article-content-rec content-item">
            <audio
                class="mejs-player"
                width="100%"
                data-mejsoptions='{"alwaysShowControls": true, "alwaysShowHours": true, "enableAutosize": true, "features": ["playpause", "progress", "current", "duration", "volume"]}'
                preload="auto"
                src="{{ page.rec_file }}"
            >
            </audio>
            <a class="rec-file" href="{{ page.rec_file }}">Download</a>
          </div>

          <div class="article-content-description content-item">
            {{ page.description }}
          </div>

          <h2 class="article-content-header">出演</h2>
          <div class="article-content-voices content-item">
            <ul class="voices-list">
              {% for voice_id in page.voice_ids %}
              {% assign voice = site.voices[voice_id] %}
              <li class="voices-list-item">
                <span class="voices-item-name">
                  {{ voice.name }}
                </span>
                <br>
                <a class="voices-item-url" href="{{ voice.url }}" target="_blank">
                  {{ voice.url }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="article-content-md">
            {{ content }}
          </div>

          <div class="article-content-back">
            <a href="/">
              Back
            </a>
          </div>


        </article>

      </main>

    </div><!-- page-wrapper end -->

    {% include footer.html %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.23.4/mediaelement-and-player.js"></script>
    <script language="JavaScript">
    $(document).ready( function () {
      $(".article-content-link a").attr('target', '_blank');
    })
    </script>

  </body>

</html>
