<!DOCTYPE html>
<html lang={{ site.language }}>
  {% include meta.html %}
  <body>

    {% include header.html %}

    <main role="main">
    
      <div class="container">

        <article class="article-content">

          <h1 class="article-content-ttl">
            {{ page.title }}
          </h1>

          <p class="content-item article-content-date">
            {{ page.date | date: "%B %d, %Y" }}
          </p>

          <div class="content-item article-content-description">
            {{ page.description }}
          </div>

          <div class="content-item article-content-rec">
            <audio
                class="mejs-player"
                width="100%"
                data-mejsoptions='{"alwaysShowControls": true, "alwaysShowHours": true, "enableAutosize": true, "features": ["playpause", "progress", "current", "duration", "volume"]}'
                preload="auto"
                src="{{ page.file }}"
            >
            </audio>
            <a class="rec-file" href="{{ page.file }}">Download</a>
          </div>

          <div class="content-item article-content-voices">
            <h2 class="content-item-header">出演</h2>
            <ul class="voices-list">
              {% for voice_id in page.voice_ids %}
              {% assign voice = site.voices[voice_id] %}
              <li class="voices-list-item">
                <a class="item-url" href="{{ voice.url }}" target="_blank">
                  {{ voice.name }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="content-item article-content-md">
            {{ content }}
          </div>

          <div class="page-back">
            <a href="/">
              Back
            </a>
          </div>


        </article>

      </div>

    </main>

    {% include footer.html %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.23.4/mediaelement-and-player.js"></script>
    <script>
    $(document).ready( function () {
      $('.article-content-md a').attr('target', '_blank');
    });
    </script>

  </body>

</html>
